In [1]:
def addition():
    a=10
    b=20
    c=a+b
    print(c)

In [2]:
addition()

30

In [4]:
def mul(a,b):
    print(a+b)

In [5]:
mul(10,5)

15

In [8]:
def conc(a,b):
    
    c = a+'@'+b
    print(c)

In [9]:
conc('sachin','marathe')

sachin@marathe

In [10]:
def email(a,b,c):
    email_id = a+b+c
    print(email_id)

In [11]:
email('sachinmarathe','@','gmail.com')

sachinmarathe@gmail.com

In [12]:
#return

In [13]:
def multi(x,y):
    z = x*y
    return z

In [16]:
var=multi(10,2)

In [17]:
var

20

In [18]:
#print

In [19]:
def multi(x,y):
    z = x*y
    print(z)

In [21]:
r=multi(10,3)

30

In [22]:
r

In [23]:
type(r)

NoneType

In [24]:
def bonus(b):
    bonus_cal = (b/100)*10
    return bonus_cal

In [26]:
bon=bonus(45000)

In [27]:
bon

4500.0

In [28]:
def sal_gross(sal):
    total_bonus=bonus(sal)        # function bonus calling here
    gr_sal=total_bonus + sal
    return gr_sal

In [29]:
sal_gross(45000)

49500.0

In [47]:
def add(a,b):
    if (type(a)==int or type(b)==int) and (type(a)==int or type(b)==int):
        return a+b
    elif type(a)==str and type(b)==str:
        return a+'@'+b
    else:
        return 'invalid entry'

In [48]:
add(25.2,10)

35.2

In [49]:
add('mah','mahesh')

'mah@mahesh'

In [54]:
add(True,False)

'invalid entry'

In [76]:
p=[1,10,13,15]

def even_odd(test):
    for i in test:
        if i%2!=0:
            return i

In [77]:
even_odd(p)

1

In [78]:
even_odd(p)

1

In [80]:
P=[1,10,13,15]

In [88]:
def even_odd(test):
    for i in test:
        if i%2!=0:
            print('even_number',i)
        else:
            print('odd_number',i)

In [89]:
even_odd(P)

even_number 1
odd_number 10
even_number 13
even_number 15

In [91]:
def even_odd(p):
    even_list=[]
    odd_list=[]
    for i in p:
        if i%2==0:
            even_list.append(i)
        else:
            odd_list.append(i)
    return even_list,odd_list

In [93]:
e,o=even_odd([1,3,75,84,24,12,15,19,21])

In [94]:
e

[84, 24, 12]

In [95]:
o

[1, 3, 75, 15, 19, 21]

In [28]:
#Write a Python function to find the maximum of three numbers.


def max_of_two(a,b):
    if a>b:
        return a

In [29]:
max_of_two(7,5)

7

In [30]:
def max_of_three(a,b,c):
    return max_of_two(a,max_of_two(b,c))

In [32]:
max_of_three(10,8,6)

10

In [36]:
def max_of_four(a,b,c,d):
    if a>b and b>c and c>d:
        return a

In [37]:
max_of_four(20,10,5,1)

20

In [38]:
#2. Write a Python function to sum all the numbers in a list.

In [39]:

def summation_of_list_element(p):
    sum=0
    for i in p:
        sum = sum+i
    return sum

In [41]:
summation_of_list_element(range(11))

55

In [42]:
summation_of_list_element((1,3,5,7,9))

25

In [75]:
p=[1,2,3,4,5]
def sum_even(p):
    odd_sum=0
    even_sum=0
    for i in p:
        if i%2==0:
            even_sum=even_sum+i
        else:
            odd_sum=odd_sum+i
    return even_sum,odd_sum

In [76]:
sum_even([1,2,3,4,5])

(6, 9)

In [79]:
#3. Write a Python function to multiply all the numbers in a list.

In [88]:
def mul(p):
    multply=1
    for i in p:
        multply = multply*i
    return mult

In [92]:
mul([1,2,3,4,5])

120

In [93]:
#4. Write a Python program to reverse a string.

In [97]:
def reverse_str(x):
    index=len(x)
    reverse_x=''
    while index>0:
        reverse_x += x[index-1]
        index=index-1
    return reverse_x

In [99]:
reverse_str('abcd')

'dcba'

In [100]:
reverse_str('')

''

In [101]:
#5.Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [112]:
#number=int(input('Enter the number::'))
def factorial(number):
    if number==0:
        return 1
    else:
        return number * factorial(number-1)

Enter the number::24

In [113]:
factorial(24)

620448401733239439360000

In [114]:
#Write a Python function to check whether a number falls within a given range.

In [119]:
def test_number_in_range(n):
    if n in range(1,11,1):
        print('number present in given range::',n)
    else:
        print('number outside the given range::''yes')

In [120]:
test_number_in_range(10)

number present in given range:: 10

In [121]:
test_number_in_range(100)

number outside the given range::yes

In [122]:
#7. Write a Python function that accepts a string and counts the number of upper and lower case letters.

In [ ]:
string='The quick Brow Fox'
upper=3
lower=12

In [134]:
def upper_lower_count(string):
    upper_count=0
    lower_count=0
    for i in string:
        if i.isupper():
            upper_count += 1   
            
        elif i.islower():
            lower_count += 1
            
            
        else:
            pass
        
    return upper_count,lower_count

In [137]:
uppercase_count,lowercase_count=upper_lower_count('The quick Brow Fox')

In [139]:
uppercase_count

3

In [141]:
lowercase_count

12

In [142]:
#8. Write a Python function that takes a list and returns a new list with distinct elements from the first list.

In [159]:
def list_distinct(p):
    new_list=[]
    for i in p:
        if p.count(i)==1:
            new_list.append(i)
        else:
            pass
    return new_list

In [160]:
list_distinct([1,2,3,3,3,3,4,5])

[1, 2, 4, 5]

In [ ]:
#Write a Python function that takes a number as a parameter and checks whether the number is prime or not.

#Note : A prime number (or a prime) is a natural number greater than 1 and that has no positive divisors other than 1 and itself.

In [201]:

def prime_number_test(p):
    prime_number=[]
    for num in range(1,101):
        if num>1:
            for i in range(2,num):
                if num%i==0:
                    break
            else:
                prime_number.append(num)
    return prime_number

In [202]:
prime_number_test(range(1,101))

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [203]:
#10. Write a Python program to print the even numbers from a given list.

In [216]:
p=[1, 2, 3, 4, 5, 6, 7, 8, 9]

even_list=[]
def even(p):
    for i in p:
        if i%2==0:
            even_list.append(i)
    return even_list

In [217]:
even([1, 2, 3, 4, 5, 6, 7, 8, 9])

[2, 4, 6, 8]

In [237]:
p=[1, 2, 3, 4, 5, 6, 7, 8, 9]

def even(p):
    for i in p:
        if i%2==0:
            print('even number::',i)

In [238]:
even([1, 2, 3, 4, 5, 6, 7, 8, 9])

even number:: 2
even number:: 4
even number:: 6
even number:: 8

In [250]:
def perfect_no(num):
    per=0
    for i in range(1,num):
        if num%i == 0:
            
            per += i
    return per == num

In [251]:
perfect_no(10)

False

In [252]:
perfect_no(6)

True

In [253]:
def perfect_number(n):
    sum = 0
    for x in range(1, n):
        if n % x == 0:
            sum += x
    return sum == n

In [254]:
perfect_number(6)

True

In [266]:
def perfect_no(p):
    per_no=[]
    for i in p:
        if i%6==0:
            per_no.append(i)
    return per_no

In [267]:
perfect_no([1,2,3,4,5,6,7,8,9,10])

[6]